/* body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
} */
body {
	background: url("assets/dendi.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  color:white;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.payment-selection {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: slide-down 1s ease-in-out;
}

.payment-selection h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.payment-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.payment-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5x;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.payment-option:hover {
  background-color: #e6e6e6;
}

.payment-option.selected {
  transform: scale(1.1);
  
}

.payment-option img {
  width: 100px;
  height: auto;
}

.submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to right, #DECBA4, #3E5151); 
  color:#333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background: linear-gradient(to right, #DECBA4, #7e9090); 

}

.input-field {
  margin-bottom: 20px;
  width: 100%;
  background: #333;
  padding: 1px 1px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000000;
  appearance: none;
  -webkit-appearance: none; /* Safari and older versions of Chrome */
  -moz-appearance: none; /* Firefox */
  -ms-appearance: none; /* Internet Explorer/Edge */
  appearance: none;
}

.input-field label {
  display: block;
  color: rgb(239, 63, 63);
  margin-bottom: 5px;
  font-size: 12px;
}

.input-field input {
  padding: 10px;
  border-radius: 5px;
  background: #ffffff; width: 100%;
  font-size: 16px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 150px;
  height: auto;
}
.nice-heading {

  font-family: "Lucida Sans", sans-serif;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  /* background-color :#f2f2f2; */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #DECBA4, #3E5151); 
  border-radius: 10px;

}

@media (max-width: 768px) {
  .card {
    padding: 25px;
    margin: 25px auto;
    max-width: 500px;
  }

  .card .card-title h2 {
    font-size: 24px;
  }

  .card .card-body .payment-type .types .type {
    width: 100%;
    margin-bottom: 15px;
  }
}
.cancel-link {
  text-decoration: none; /* Remove underline */
  color: #0261fb; /* Set link color */
  display: block;
  text-align: center;
  margin-top: 20px;
}

.cancel-link:hover {
  text-decoration: underline; /* Underline on hover */
  color: #1803ff; /* Set link color on hover */
}
/* Define the styles for the "light-hr" class */
.light-hr {
  border-color: #ccc; /* Adjust the color to the desired lighter shade */
}

